.forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signUp,.signIn {
    padding: 10px;
    /*padding-right: 646px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.signUpID {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
}


.buttonList {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
